.breadcrumb-item.active {
    color: #FF324D
}

.heading_s2 .h4 {
    font-weight: 700;
    margin: 0;
}

.blog_img > img {
    max-height: 550px;
}

.comment_content p {
    font-size: 85%;
}

textarea {
    resize: none;
}

.alert li {
    list-style-type: none;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 80px;
    margin: 20px 0;
}

.author-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

h5, .h5 {
   font-size: 1.2rem;
}

.bg_custom {
    background-color: #b1b1b1;
}

.inspire {
    padding: 60px 0 !important;
}

.custom_breadcrumb {
    padding: 50px 0 !important;
}
.blog_detail_others {
    padding: 30px 0 0;
}

.blog-detail span.marker {background-color: Yellow;}

.nav-tabs {
    border: 0;
}

.blog-detail blockquote {
    font-size: 20px;
    line-height: 34px;
}
.blog-detail blockquote p {
    line-height: 34px;
}
.blog-detail blockquote {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    font-size: 18px;
    position: relative;
}
.blog-detail blockquote::before {
    content: "\f10d";
    position: absolute;
    left: 50px;
    top: 10px;
    color: #000;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 70px;
    opacity: 0.05;
    line-height: normal;
}
.blog-detail blockquote,
.blog-detail blockquote p {
    color: #222;
}

@media only screen and (max-width: 360px) {
    .heading_s2 .h4{
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) and (min-width: 361px) {
    .custom_breadcrumb {
        padding: 25px 0 !important;
    }

    .blog-detail blockquote p {
        line-height: 28px;
    }

    .home_categories > .col-4{
        padding-left: 5px;
        padding-right: 15px;
    }

    .home_categories .service_box {
        height: 80px;
    }
    .blog-detail p > img {
        width: auto !important;
        height: auto !important;
    }
    .blog-detail p > iframe {
        width: auto !important;
        height: auto !important;
    }

    .heading_s2 .h4{
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .custom_breadcrumb {
        padding: 35px 0 !important;
    }
    .blog-detail p > img {
        width: auto !important;
        height: auto !important;
    }
    .blog-detail p > iframe {
        width: 100% !important;
        height: 100% !important;
    }

    .blog-detail blockquote p {
        line-height: 30px;
    }

    .profile-image {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}
